<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Graphics testing</title>
    <script src="js/jquery.js"></script>
    <script type="text/javascript" src="js/graphics/gen.json"></script>
    <script src="js/graphics/base.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <canvas id="game"></canvas>
</body>
</html>
