<!DOCTYPE html>
<html lang=”en”>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Cappie's MMO</title>
	<script src="js/jquery.js"></script>
	<script type="module" src="js/client.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<script type="text/javascript" src="js/graphics/gen2k.json"></script>
</head>
<body>
	<canvas id="game"></canvas>
	<canvas id="names"></canvas>
	<canvas id="gui"></canvas>
	<ul id="chat-history"></ul>
    <form action="">
      <input id="input_message" autocomplete="off" /><button>Send</button>
    </form>
</body>
</html>
